.site {
    &-title {
        float: left;
        padding: .5em 0;

        > h1 {
            font-size:1.5em;
            font-weight: normal;
            margin: .5em 0 .25em 0;
            text-transform: capitalize;

            > a {
                color: $header-text-color;
            }
        }
        > .ext-location {
            > a {
                color: $header-text-color;
            }
        }
    }
    &-utilityBar {
        position: relative;

        nav {
            float: right;
            margin: 0 0 0 1em;
        }
    }
}
