{% extends "html/layouts/default.twig" %}
{% block content %}
<section class="person-profile">
    <div class="person-photoContainer">
        <img src="{{ BASE_URI }}/images/stab.gif" alt="Furious George" />
    </div>
    <div class="person-details">
        <header>
            <h1>Furious George</h1>
        </header>
    </div>
</section>
<section class="person-profile">
    <div class="person-photoContainer">
        <img src="{{ BASE_URI }}/images/karl_monkey.jpg" alt="Karl" />
    </div>
    <div class="person-details">
        <header>
            <h1>Karl</h1>
        </header>
    </div>
</section>
{% endblock %}
