@import 'sass-modules/_vars-mixins';

@import 'sass-modules/_content-section';

/**
 * Basic HTML element styles
 */
body {
    background: #fff;
    font-family: $font-body-family;
    font-size: 1em;
}

h1 {
    color: #777;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 1em;
}
h2 {
    color: #555;
    font-size:131%;
    font-weight:normal;
    margin:.5em 0;
}
h3 { font-size:123.1%; font-weight:bold;  margin:.5em 0 .25em 0; }
h4 { font-size:100%; font-weight:bold; }
a { text-decoration:none; color: $font-link-color; }
a:hover { text-decoration: underline; }
p {
    line-height: 1.3em;
    margin: 0 0 1em 0;
}

ul { list-style-type:none; margin-left:4ex; padding:0; }
li { margin:0; }

fieldset { padding:.25em 0; }
legend { font-weight:bold; margin:4px; }
label { font-weight:bold; }
input:required { background-color:#E7E49D; }

img { margin:8px; }
address { white-space:pre-line; }

/**
 * Base styles for buttons and button links
 */
button, .button {
	border:1px solid #b8b8b8;
    border-radius:.4em;
    color:#333;
    display:inline-block;
	padding: .25em 1em;
    font-size: (14em/16);
	font-weight:normal;
	background: linear-gradient(to bottom, #f2f2f9 21%,#CDD1D9 80%);
    vertical-align: middle;
    > .fa {
        font-size: (15em/15);
    }
	&:hover {
		background: linear-gradient(to bottom, #f8f8fd 21%, #d5dfe4 80%);
//		border: 1px solid #d0d0d0;
	}
}
a.button:hover {
	cursor: default;
	text-decoration: none;
}

/**
 * Banner
 */
.header {
    &-row {
        border-top: .4em solid #1e59ae;
    }
    &-container {
        margin: 0 auto 0;
        color: $header-text-color;
        position: relative;
        @include clearfix();

        &:before {
            background: url($city-logo-url);
            background-size: 100% 100%;
            content: '';
            display: block;
            float: left;
            height: 4em;
            margin: .75em .75em .75em 0;
            width: 4em;
        }
    }
    &-title {
        float: left;
        padding: .5em 0;

        > h1 {
            font-size:1.5em;
            font-weight: normal;
            margin: .5em 0 .25em 0;
            text-transform: capitalize;

            > a {
                color: $header-text-color;
            }
        }
    }
    &-location {
        > a {
            color: $header-text-color;
        }
    }
    &-utilityBar {
        float: right;
    }
}
.nav1-{
    &-container {
    }
    &-row {
    }
}

.breadcrumbs {
    font-size: (13em/16);
    margin: .5em 0 1.5em 0;

    > span {
        display: inline-block;
        margin: 0 2em 0 0;

        &:not(:last-child):after {
            content: ">";
            display: inline-block;
            margin: 0 -1em 0 1em;
        }

    }
}

/**
 * Side Panel
 */
#panel-one nav {
	border:2px solid #000; margin-bottom:0.5em;
	border-radius:10px;
	overflow:hidden;
}
#panel-one h2 {
	background-color:#036; color:#fff;
	border-bottom:2px solid #000;
	margin:0; padding:.25em;
}
#panel-one ul { margin:.25em; padding:0; }
#panel-one a { font-weight:bold; color:#000; }

/**
 * Main Content
 */


#errorMessages { background-color:#fcc; padding:4px; border-radius:10px; }
#errorMessages h2 { }

.pageNavigation ul { list-style-type:none; }
.pageNavigation li { display:inline; margin-right:1em; }
.pageNavigation .current { border:2px solid green; }


/**
 * Tabular Data
 */
.output-tabular {
    overflow: hidden;
    width: 100%;

    @mixin data-cell() {
        padding: .75em 1.5em .75em .5em;
    }
    $first-cell-padding-left: 1.5em;
    > thead {
        > tr {
            > th {
                background: #204984;
                color: #EDF0F5;
                font-size: .85em;
                font-weight: normal;
                height: 2em;
                vertical-align: bottom;
                @include data-cell();

                &:first-child {
                    padding-left: $first-cell-padding-left;
                }
            }
            &.column-status {
                text-align: right;
            }
        }
    }
    > tbody {
        > tr {
            > th, td {
                background: #EDF0F5;
                border-top: 1px solid #c0c0c0;
                transition: background-color .2s linear;
                vertical-align: top;
                @include data-cell();

                &:first-child {
                    padding-left: $first-cell-padding-left;
                }
                &.ext-number {
                    white-space: nowrap;
                }
            }
        }
        > tr:hover {
            th, td {
                background: #fff;
            }
        }
    }
}

.list-departments {
    box-sizing: border-box;
    display: block;
    margin: 0 0 1em 0;
    padding: 0;
    width: 100%;

    &.mod-index {

        > li {
            border-top: 1px solid #c0c0c0;
            padding-left: .5em;

            .list-departments {
//                margin-left: 1em;

                > li {
                    margin-bottom: .15em;
                    margin-left: 1em;
                    position: relative;

                    &:before {
                        color: #c0c0c0;
                        content: '-';
                        display: block;
                        position: absolute;
                            left: -.75em;
                    }
                }
            }
        }
    }
    > li {
        box-sizing: border-box;
        display: block;
        margin-bottom: 1.5em;
        padding: .75em 0 0 0;
        width: 100%;

        > a {
            display: inline-block;
            font-size: (20rem/16);
            margin: 0 0 .5em 0;
        }
        > .list-departments {
            box-sizing: border-box;
            columns: 1;
            display: block;
            -webkit-columns: 1;
            -moz-columns: 1;
            margin-bottom: 1em;

            > li {
                box-sizing: border-box;
                border-top: none;
                display: block;
                margin: 0 0 2em 0;
                padding: 0;

                > a {
                    font-size: 1rem;
                    margin: 0 0 .25em 0;
                }
            }
        }
    }
}



/*dl*/.input {
    &-field {
        padding: .5em 0;

        > dt {
            font-size: .75em;
            font-weight: normal;
            margin: 0 0 .25em 0;

            > label {
                font-weight: normal;
            }
        }
        > dd {
            margin: 0;
            padding: 0;

            > input[type="text"] {
                font-size: 1em;
            }
        }
        &.mod-radio {
            > dd {
                margin-bottom: .25em;
                padding: 0 0 0 1.6em;
                vertical-align: middle;

                > label {
                    margin: 0;
                    vertical-align: middle;

                    > input[type="radio"] {
                        font-size: 1em;
                        margin: 0 .45em 0 -1.4em;
                        padding: 0;
                        vertical-align: middle;

                        + span {
                            margin: 0;
                            padding: 0;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    &-buttons {
        margin: 1em 0;
    }
}

.person {
    &-profile {
    }
	&-photoContainer {
        > img {
            border: 8px solid #fff;
            box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
            outline: 1px solid #c0c0c0;
            position: relative;
            z-index: 0;
        }
	}
    &-details {
        > h1 {
            margin-bottom: .2em;
        }
        > h2 {
            margin-bottom: 1em;
        }
    }

}

@media screen and (min-width: 46em) {
    /*header*/.header {
        &-row {
            position: relative;
            z-index: 2;
        }
        &-container {
            box-sizing: border-box;
            margin: 0 auto;
            padding-top: .5em;
            width: 46em;

            &:before {
//                margin-top: 1.25em;
            }
        }
    }
    .nav1 {
        &-container {
            box-sizing: border-box;
            margin: 0 auto;
            width: 46em;
            @include clearfix();
        }
        &-row {
            padding: 2.7em 0 .4em 0;
        }
        &-link {
            background: rgba(255, 255, 255, .5);
            color: $nav1-link-color;
            display: block;
            float: left;
            margin: 0 .5em 0 0;
            padding: .5em .75em;
            transition: background-color .25s ease-in-out;

            &:hover {
                background: rgba(255,255,255, .8);
                text-decoration: none;
            }
        }
        &-searchForm {
            float: right;
            > fieldset {
                padding: 0; // Override a style set by reset

                > input {
                    font-size: 1em;
                    padding: .25em;
                }
            }
        }
    }
    .panel {
        &-row {
            background: -moz-linear-gradient(top, #e4eff8 0%, #ffffff 200px); /* FF3.6+ */
//            background: -webkit-linear-gradient(top,  #e4eff8 0%,#ffffff 200px); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #e4eff8 0%,#ffffff 200px); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #e4eff8 0%,#ffffff 200px); /* IE10+ */
            background: linear-gradient(to bottom,  #e4eff8 20em,#ffffff 30em); /* W3C */
            padding: 0;
            position: relative;

            &:before {
                background: url('images/header-bg-2.jpg');
                background-size: 100% auto;
                content: '';
                display: block;
                height: 18.75em;
                position: absolute;
                    top: -5em;
                    left: 0;
                    right: 0;
                z-index: 1;
            }
        }
        &-container {
            background: #fff;
            border-top: .4em solid #1e59ae;
            box-sizing: border-box;
            margin: 0 auto;
            min-height: 40em;
            padding: 2em;
            position: relative;
            width: 46em;
            z-index: 2;
        }
    }

    /*dl*/.input {
        &-field {
            border-top: 1px solid #c0c0c0;
            border-bottom: 1px solid #c0c0c0;
            margin: -1px 0 0 0;
            transition: background .25s linear;

            &:after {
                clear: both;
                content: '';
                display: table;
            }
            &:hover {
                background: #d0f0ff;
            }
            > dt {
                float: left;
                font-size: 1em;
                margin: 0;
                padding: .25em 0 0 0;
                width: 8em;
            }
            > dd {
                margin-left: 9em;

                input[type="text"] {
                    font-size: 1em;
                    padding: .2em;
                    width: 15em;
                }
            }
        }
        &-buttons {
            margin: 1em 0 1em 9em;
        }
    }

    .list-departments {
        &.mod-index {
            -webkit-columns: 2 18em;
            -moz-columns: 2 18em;
            columns: 2 18em;

            > li {
                &:nth-child(1) {
                    -webkit-column-break-after: avoid;
                    page-break-after: avoid;
                    break-after: avoid;
                }
                &:nth-child(2) {
                    -webkit-column-break-inside: avoid;
                    page-break-inside: avoid;
                    break-inside: avoid;
                }
                &:nth-child(3) {
                    -webkit-column-break-before: always;
                    page-break-before: always;
                    break-before: always;
                }
            }
        }
    }

    .person {
        &-profile {
            @include clearfix();
        }
		&-photoContainer {
			float: left;
			text-align: right;
			width: 12.5em; /* 200px by default */

            > img {
                margin: 0;
				max-width: (180em/16);
            }
		}
        &-details {
            float: left;
            margin: 0 0 0 1.5em;
			max-width: 28em;
            @include clearfix();

            > div {
                margin: .25em 0;
            }
            > table {
                margin: 1em 0 0 0;
                > tbody {
                    > tr {
                        > th {
                            padding: .25em .5em .25em 0;
                        }
                        > td {
                            padding: .25em .5em .25em 0;
                        }
                    }
                }
            }
        }
		&-emergencyProfile {
			margin: 1.5em 0 0 1.5em;
			padding: 0 0 0 200px;
		}
    }
}

@media screen and (min-width: 62em) {
    /*header*/.header {
        &-row {
        }
        &-container {
            width: 60em;
        }
    }
    .nav1 {
        &-container {
            width: 60em;
        }
        &-row {
            background-size: 100% auto;
        }
        &-form {
        }
		&-link {
            padding: .5em 1.5em;
		}
    }
    .panel {
        &-row {
        }
        &-container {
            width: 60em;
        }
    }

    /*dl*/.input {
        &-field {
            &.mod-text {
                > dd {
                }
            }
        }
    }

    .form {
        &-fieldset {
            box-sizing: border-box;
            float: left;
            margin: 0 0 3em 0;
            padding: 0 1em;
            width: 50%;

            > legend {
                font-size: 1.3em;
                font-weight: normal;
            }
        }
    }
	.person {
		&-details {
			max-width: 42em;
		}
	}
}
