div#photo {
	width: 100px;
	margin: 10px;
	margin-left: 35px;
	float: left;
}

TABLE.searchform {
	margin-left: 40px;
}

TH {
	text-align: right;
}

TH.multiline {
	vertical-align: top;
	padding-top: 2px;
}

TD.submit {
	text-align: right;
}

.note {
	font-style: oblique;
	font-size: 80%;
}

.red {
	color: red;
	font-weight: bold;
}