<?php
define('APPLICATION_NAME','Department & Employee Directory');

/**
 * URL Generation settings
 *
 * Do NOT use trailing slashes
 *
 * If your site is being proxied, change BASE_HOST to the hostname
 * used for the outside world.
 */
define('BASE_URI' , '{{ directory_base_uri }}');
define('BASE_HOST', isset($_SERVER['HTTP_X_FORWARDED_HOST'])
                        ? $_SERVER['HTTP_X_FORWARDED_HOST']
                        : '{{ ansible_host }}');
define('BASE_URL' , "https://".BASE_HOST.BASE_URI);

/**
 * Javascript libraries
 */
define('JQUERY',         BASE_URI.'/js/vendor/jquery/jquery-2.2.1.min.js');
define('INTL_TEL_INPUT', BASE_URI.'/js/vendor/intl-tel-input');

/**
 * Database Setup
 */
$DATABASES = [
    'default' => [
        'dsn'  => 'mysql:host={{ directory_db.default.host }};dbname={{ directory_db.default.name }}',
        'user' => '{{ directory_db.default.user }}',
        'pass' => '{{ directory_db.default.pass }}'
    ],
    'hr' => [
        'dsn'  => 'odbc:hrdb',
        'user' => '{{ directory_db.hr.user }}',
        'pass' => '{{ directory_db.hr.pass }}'
    ]
];

/**
 * Directory Configuration
 *
 * This supports doing user authentication from multiple external
 * directories, such as LDAP or ADS. This is required since city staff
 * are in a seperate LDAP directory from public user accounts.
 * Classes that implement ExternalIdentity should have an entry here.
 *
 * See: ExternalIdentity
 */
$LDAP = [
    'Employee'=> [
        'classname'          => 'Site\Employee',
        'server'             => '{{ directory_ldap.SERVER             }}',
        'base_dn'            => '{{ directory_ldap.BASE_DN            }}',
        'username_attribute' => '{{ directory_ldap.USERNAME_ATTRIBUTE }}',
        'user_binding'       => '{{ directory_ldap.USER_BINDING       }}',
        'admin_binding'      => '{{ directory_ldap.ADMIN_BINDING      }}',
        'admin_pass'         => '{{ directory_ldap.ADMIN_PASS         }}',
        'restricted'         => '{{ directory_ldap.RESTRICTED         }}',
        'promoted'           => '{{ directory_ldap.PROMOTED           }}',
        'nonpayroll'         => '{{ directory_ldap.NONPAYROLL         }}'
    ]
];

/**
 * CAS authentication https://www.apereo.org/projects/cas
 *
 * https://github.com/apereo/phpCAS
 *
 * phpCAS is a PHP library for handling the calls to the CAS service
 * It is the official library, part of the Apereo CAS project
 */
define('CAS_SERVER','{{ directory_cas_server }}');
define('CAS_URI','cas');

define('DATE_FORMAT', 'n/j/Y H:i:s');
define('LOCALE', 'en_US');
define('DEFAULT_CITY', 'Bloomington');
define('DEFAULT_STATE', 'IN');
define('DEFAULT_ZIP', 47404);

/**
 * Graylog is a centralized log manager
 *
 * This application supports sending errors and exceptions to a graylog instance.
 * This is handy for notifying developers of a problem before users notice.
 ** @see https://graylog.org
 */
#define('GRAYLOG_DOMAIN', 'graylog.bloomington.in.gov');
#define('GRAYLOG_PORT',   12202);
