<div id="panel-one" class="panel">
    {% block panelone %}
    {% endblock %}

    {{ include('html/layouts/partials/panel-widgets/Administrator_menu.twig')  }}
    {{ include('html/layouts/partials/panel-widgets/User_menu.twig')  }}
</div>
