{#
 * @copyright 2014-2021 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE.txt
#}
{% extends 'html/layouts/default.twig' %}
{% block content %}
<section id="departments-list">
    <h1>{{ _(['department', 'departments', 2]) }}</h1>
</section>
{% endblock %}
